[submodule "bcc-news-webpage"]
	path = bcc-news-webpage
	url = https://github.com/Haripriya1328/bcc-news-webpage
[submodule "bootcamp_shapeai"]
	path = bootcamp_shapeai
	url = https://github.com/Haripriya1328/bootcamp_shapeai
[submodule "ShapeAL_python_machine_learning"]
	path = ShapeAL_python_machine_learning
	url = https://github.com/Haripriya1328/ShapeAL_python_machine_learning
